langchain
python-dotenv
sentence_transformers
langchain_huggingface
ipykernel
faiss-cpu
langchain-community
chromadb
langchain-text-splitters
langchain_chroma
beautifulsoup4
streamlit
langchain-openai
langchain_groq
langchain_core
langserve
fastapi
uvicorn
pypdf
arxiv
pymupdf
wikipedia
duckdb
pandas
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr